.super-big-button {
    width: 100%;
    font-size: 2.5em;
    line-height: 10;
}

.page_header {
    width: 100%;
    font-size: 14;
    line-height: 8;
}

button {margin:auto;
  display:block;
}

.btn {
    width: 150px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
