.super-big-button {
    width: 100%;
    font-size: 4em;
    line-height: 10;
    background-color: red;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
}

.jumbotron {
    background-image: url("http://blog.madhungry.com/files/2011/10/shrimp-pad-thai-mhlb2048.jpg");
    background-repeat: "no-repeat";
    border-radius: 0;
    padding-left: 5%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 0;
    height: 450px;
    color: lightyellow;
}

.jumbotron h1 {
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    margin-top: 0;
    color: lightyellow;
}

.jumbotron p {
    font-style: italic;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0;
    background-color: #122b40;
}

.panel-primary {
    margin: 0;
    border-radius: 0;
}
