{% extends 'base.html' %}

{% block title %}
        Menu |
{% endblock %}

{% block content %}
    <div class="col-sm-6">
    <h1>Menu</h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {% with object_list|first as first_object %}
                    {{ first_object.owner.profile.name }}
                    {% endwith %}'s Menu
                </div>
                <div class="panel-body">
                    <div class="panel panel-primary">
                        {% for object in object_list %}
                            {% if object.display == True %}
                             <div class="panel-heading">
                                <form action="{% url 'add_to_order' object.id %}" method="post">{{ object.item_name }}
                                     {% csrf_token %}
                                    <span class="badge" align="right">${{ object.price| floatformat:2 }}
                                    </span>
                                    <input class="btn btn-primary" type="submit" value="Add to Order">
                                </form>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>{{ object.description }}</li>
                                </ul>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6">
        <h1>Current Order:</h1>
        {% for order in request.user.profile.customer_open_order %}
            {% for item in order.items.all %}
                <ul>
                    <li>
                        <form action="{% url 'delete_from_order' item.id %}" method="post">{{ item.item_name }}
                            {% for itemcounter in item.itemcounter_set.all %}
                                {% if itemcounter.order == order %}
                                    ({{ itemcounter.count }})
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                            <input type="submit" value="Delete from Order"/>
                        </form>
                    </li>
                </ul>
            {% endfor %}
            Total Cost: ${{ order.total_cost|floatformat:2 }}
            </br>
            <form action="{% url 'submit_order' order.id %}" method="post">
                {% csrf_token %}
                    <label for="comments">Order Comments</label>
                    <input type="text" class="form-control" id="comments" name="comments" placeholder="Please provide special preparation instructions or allergies you have">
                <input type="submit" value="Submit Order"/>
            </form>
            </br>
            <form action="{% url 'cancel_order' order.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cancel Order"/>
            </form>
            </br>
        {% endfor %}
    </div>
    <div>

    </div>
{% endblock %}