{% extends 'base.html' %}

{% block title %}
        Menu |
{% endblock %}

{% block content %}
    <h1>Menu</h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {% with object_list|first as first_object %}
                    {{ first_object.owner.profile.name }}
                    {% endwith %}'s Menu
                </div>
                <div class="panel-body">
                    <div class="panel panel-primary">
                        {% for object in object_list %}
                             <div class="panel-heading">
                                <form action="{% url 'add_to_order' object.id %}" method="post">{{ object.item_name }}
                                     {% csrf_token %}
                                    <input type="submit" value="Add to Order"/>
                                </form>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>{{ object.description }}</li>
                                    <li>${{ object.price|floatformat:2 }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        Current Order:
        {% for order in request.user.profile.customer_open_order %}
            {% for item in order.items.all %}
                <ul>
                    <li>{{ item.item_name }}</li>
                </ul>
            {% endfor %}
            <form action="{% url 'submit_order' order.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Submit Order"/>
            </form>
        {% endfor %}
    </div>
    <div>

    </div>
{% endblock %}