{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-danger">
                    {% for order in object_list %}
                        {% if order.submitted == True %}
                            {% if order.fulfilled == True %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><p>Order ID: {{ order.id }}</p></h3></div>
                                    <div class="panel-body">
                                        <div><strong>Time Completed</strong><p>{{ order.timestamp }}</p>
                                        <p><strong>Customer Name</strong><br> {{ order.customer.profile.name }} </p>
                                        <p><strong>Phone Number</strong><br>{{ order.customer.profile.phone_num }}</p>
                                        <div><strong>Items:</strong><br>
                                            {% for food in order.items.all %}
                                                 {{ food }}:
                                                    {% for itemcounter in food.itemcounter_set.all %}
                                                        {% if itemcounter.order == order %}
                                                            {{ itemcounter.count }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endfor %}
                                                {% if order.comments == True %}
                                                    <div><strong>Comments</strong><div>{{ order.comments }}</div>
                                                {% else %}
                                                    <div><strong>Comments</strong><div>None</div>
                                                {% endif %}

                                        <br><div><strong>Total: ${{ order.total_cost|floatformat:2 }}</strong></div>
                                        </div>
                                            <div class="col-lg-7 col-md-5 col-sm-4">
                                             </div>
                                        </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
{% endblock %}