<!-- This is the RESTAURANT-facing view for creating a new menu item -->

{% extends 'base.html' %}

{% block title  %}
    Create Menu Item
{% endblock %}

{% block content %}
    {% if item.item_name == None %}
        <h1>Create New Menu Item</h1>
    <form action="" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class= "button-danger">Create Menu Item</button>
    </form>
    {% else %}
        <h1>Update Menu Item</h1>
        <form action="" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class= "button-danger">Edit Item</button>
        </form>
    {% endif %}

{% endblock %}