<!-- This is the RESTAURANT-facing view of a restaurant's own MENU -->

{% extends 'base.html' %}

{% block title %}
    {% if user.profile.user_type == 'restaurant' %}
            My Menu | {{ first_object.owner.profile.name }}
    {% endif %}
{% endblock %}

{% block content %}
    {% with object_list|first as first_object %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Your Menu</h1>
                <h4>{{ first_object.owner.profile.name }}</h4>
            </div>
        </div>
    {% endwith %}
    <div class="panel panel-info">
        {% for object in object_list %}
            <div class="panel-heading clearfix">
                <h1 class="panel-title pull-left">{{ object.item_name }}</h1>
                <div class="btn-group pull-right">
                    <a href="{% url 'item_update' object.id %}" class="btn btn-default btn-sm">Update</a>
                    <form action="{% url 'undisplay_view' object.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove" class="btn btn-default btn-sm"/>
                    </form>
                </div>
            </div>
            <div class="panel-body">
                {{ object.description }}
            </div>
        {% endfor %}
    </div>
{% endblock %}