{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    {% for order in object_list %}
        {% if order.submitted == True %}
            {% if order.fulfilled == False %}
                            <h3>{{ order.timestamp }}</h3><br><br>
                            <h1>Allergies: {{ order.customer.profile.allergies }}</h1><br>
                                {% for food in order.items.all %}
                                    <h1><li>{{ food }}
                                    {% for itemcounter in food.itemcounter_set.all %}
                                        {% if itemcounter.order == order %}
                                            {{ itemcounter.count }}<br>
                                            $ {{ itemcounter.item_cost | floatformat:2 }}
                                        {% endif %}
                                    {% endfor %}
                                    </li></h1><br><br>

                                {% endfor %}
                            <h1>Comments: {{ order.comments }}</h1><br><br>
            {% endif %}
        {% endif %}

    {% endfor %}
            <h3>Total cost:</h3>
        <h4>$ {{ item.order_cost | floatformat:2  }}</h4>
        <h4>{{ item.comments }}</h4><br><br>
{% endblock %}