{% extends 'base.html' %}

{% block content %}
    {% for order in object_list %}
        {% if order.submitted == True %}
            {% if order.fulfilled == False %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><h2>{{ order.id }}</h2></h3></div>
                    <div class="panel-body">
                        <div class="col-lg-5 col-md-7 col-sm-8">
                            <h3>{{ order.timestamp }}</h3><br><br>
                            <h1>Allergies: {{ order.customer.profile.allergies }}</h1><br>
                                {% for food in order.items.all %}
                                    <h1><li>{{ food }}
                                    {% for itemcounter in food.itemcounter_set.all %}
                                        {% if itemcounter.order == order %}
                                            {{ itemcounter.count }}
                                        {% endif %}
                                    {% endfor %}
                                    </li></h1><br><br>

                                {% endfor %}
                            <h1>Comments: {{ order.comments }}</h1><br><br>
                        </div>
                            <div class="col-lg-7 col-md-5 col-sm-4">
                                <form action="{% url 'remove_order' order.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Order finished" class="super-big-button"/>
                                </form>
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
   </div>

{% endblock %}