<!-- This is the RESTAURANT-facing view of UNFULFILLED ORDERS
     (aka the chef's view)-->
{% extends 'base.html' %}

{% block content %}
    {% for order in object_list %}
        {% if order.submitted == True %}
            {% if order.fulfilled == False %}
                <div class="container">
                    <div class="row">
                        <div class="panel-body">
                           <div class="panel panel-success">
                                <h2>Order ID: {{ order.id }} <br> {{ order.timestamp }}</h2>
                            </div>
                        <div class="col-lg-5 col-md-7 col-sm-8">
                            {% if order.customer.profile.allergies %}
                                <h1>Allergies: {{ order.customer.profile.allergies }}</h1><br>
                                {% else %}
                                <h1>Allergies: None </h1><br>
                            {% endif %}
                            <br>
                            {% for food in order.items.all %}
                                <h1>{{ food }} (
                                    {% for itemcounter in food.itemcounter_set.all %}
                                        {% if itemcounter.order == order %}
                                            {{ itemcounter.count }}
                                        {% endif %}
                                    {% endfor %}
                                    )
                                </h1><br>
                                {% endfor %}
                            {% if order.comments %}<br>
                                <h3>Comments: {{ order.comments }}</h3>
                                {% else %}
                                <h3>Comments: None </h3><br>
                            {% endif %}
                        </div>
                            <div class="col-lg-7 col-md-5">
                                <form action="{% url 'remove_order' order.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Order finished" class="super-big-button"/>
                                </form>
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
   </div>

{% endblock %}