{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

</head>
<body>
<div class="container">
    <br>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'restaurant_list' %}">Restaurant List</a></li>
              {% if request.user.id %}
                {% if request.user.profile.user_type == 'restaurant' %}
                    <li><a href="#">Order Que</a></li>
                    <li><a href="#">Complete Orders</a></li>
                  {% else %}
                    <li><a href="#">Place Order</a></li>
                    <li><a href="#">Orders Placed</a></li>
                    <li><a href="#">Past Orders</a></li>
                {% endif %}
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.id %}
                 <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="#">Create User</a></li>
              {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>