{% extends 'base.html' %}

{% block title %}
    Restaurants
{% endblock %}

{% block content %}
  {% if request.user.id%}
      <div class="container">
          <div class="row">
                 <h3><b>Restaurants in Your Area</b></h3>
          </div>
      </div>
      <div class="panel panel-default">
          {% for object in object_list %}
              {% if object.user_type == 'restaurant' %}
                  <div class="panel-heading">
                      <a href="{% url 'build_order' object.id %}">
                          <h3 class="panel-title"><u>{{ object.name }}</u></h3>
                      </a>
                  <div class="panel-body">
                      <div class="list-group">
                           <ul>
                               <b>Cuisine:</b> {{ object.get_cuisine_display }}<br>
                               {{ object.address }}<br>
                               {{ object.phone_num }}
                           </ul>
                      </div>
                  </div>
              {% endif %}
          {% endfor %}
      </div>
  {% endif %}
{% endblock %}