{% extends 'base.html' %}

{% block title %}
    Welcome!
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>Order Food</h1>
        <h1>Get Food</h1>
        <h1>Fast</h1>
        <p>RestApp connects restaurants and customers!</p>
    </div>
     <h3 align="center" style="font-style: italic" >
        Food Delivery Has Never Been Easier!
    </h3>
    <div class="span7 text-center">
        <form action="/create_user/">
            <button class="btn btn-primary btn-lg" type="submit">
            <div>Sign Up Now!</div>
        </form>
    </div>
    <div class="span7 text-center">
            <a href="{% url 'login' %}">
                <p style="font-style: italic">Or Log In</p>
            </a>
        </form>
    </div>
{% endblock %}